**/npm-debug.log
**/build/
**/node_modules/
npm-debug.log
!/dist
/dist/**/*.json

/grpc-web.umd.js

# Angular bazel generated when linking /shrug
/src/**/*.js
/src/**/*.metadata.json
/src/**/*.ngsummary.json
